name: librebooking

services:
  proxy:
     image: nginxproxy/nginx-proxy
     restart: always
     ports:
       - 80:80
       - 443:443
     volumes:
       - proxy_certs:/etc/nginx/certs
       - proxy_html:/usr/share/nginx/html
       - /var/run/docker.sock:/tmp/docker.sock:ro
  acme:
    image: nginxproxy/acme-companion
    restart: always
    depends_on:
      - proxy
    volumes_from:
      - proxy
    volumes:
      - acme_acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DEFAULT_EMAIL=john.doe@acme.org
  db:
    image: linuxserver/mariadb:10.6.13
    restart: always
    volumes:
      - db_conf:/config
    environment:
      - FILE__MYSQL_ROOT_PASSWORD=/run/secrets/db_root_pwd
    env_file:
      - db.env
    secrets:
      - db_root_pwd
      - db_user_pwd
  lb1:
    image: librebooking/librebooking:4.1.0
    restart: always
    depends_on:
      - db
    volumes:
      - lb1_conf:/config
    env_file:
      - lb1.env
    environment:
      - APP_PATH=book
      - VIRTUAL_HOST=acme.org
      - VIRTUAL_PORT=8080
      - VIRTUAL_PATH=/book
      - LETSENCRYPT_HOST=acme.org
    secrets:
      - lb_install_pwd
      - lb_user_pwd
  job1:
    image: librebooking/librebooking:4.1.0
    restart: always
    depends_on:
      - lb1
    user: root
    entrypoint: /usr/local/bin/cron.sh
    volumes:
      - lb1_conf:/config
    env_file:
      - lb1.env
    secrets:
      - lb_user_pwd
  lb2:
    image: librebooking/librebooking:4.1.0
    restart: always
    depends_on:
      - db
    volumes:
      - lb2_conf:/config
      - ./uploads/images:/var/www/html/Web/uploads/images
      - ./uploads/reservation:/var/www/html/Web/uploads/reservation
    env_file:
      - lb2.env
    environment:
      - VIRTUAL_HOST=acme.org
      - VIRTUAL_PORT=8080
      - LETSENCRYPT_HOST=acme.org
    secrets:
      - lb_install_pwd
      - lb_user_pwd
  job2:
    image: librebooking/librebooking:4.1.0
    restart: always
    depends_on:
      - lb2
    user: root
    entrypoint: /usr/local/bin/cron.sh
    volumes:
      - lb2_conf:/config
    env_file:
      - lb2.env
    secrets:
      - lb_user_pwd

volumes:
  proxy_certs:
  proxy_html:
  acme_acme:
  db_conf:
  lb1_conf:
  lb2_conf:

secrets:
  db_root_pwd:
    file: ./pwd_db_root.txt
  db_user_pwd:
    file: ./pwd_db_user.txt
  lb_user_pwd:
    file: ./pwd_db_user.txt
  lb_install_pwd:
    file: ./pwd_lb_inst.txt
